In [337]:
import h5py
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
import numpy as np

In [338]:
df = pd.read_csv("/home/ml/Documents/comparison_scores_6_mc_rats_clustering.csv")

In [339]:
df2 = pd.DataFrame()
df2['human_steps'] = df["human_steps"]
df2['comp_steps'] = df["comp_steps"]
df2['comp_hits'] = df["comp_hits"]
df2["human_miss"] = df["human_miss"]
df2["step_diff"] = df["comp_steps"] - df["human_steps"]
df2["miss_diff"] = df["comp_misses"] - df["human_miss"]
df2 = df2.loc[(df2["comp_steps"] > 0)]
df2 = df2.loc[(df2["comp_hits"] > 0)]

In [340]:
df2["step_perc_error"] = abs(df2['step_diff'])/df["human_steps"]*100
df2["step_perc_accuracy"] = 100-df2["step_perc_error"]

In [341]:
df2["miss_perc_error"] = abs(df2['miss_diff'])/df["human_miss"]*100
df2["miss_perc_accuracy"] = 100-df2["miss_perc_error"]

In [342]:
df2['step_perc_accuracy'].mean()

76.67739967835382

In [343]:
df2['miss_perc_accuracy'].mean()

-inf

In [344]:
df2["step_binary"]=np.where(df2['step_diff']==0, 1, 0)

In [345]:
df2["step_binary"].sum()/len(df2)*100

30.725190839694655

In [346]:
df2["miss_binary"]=np.where(df2['miss_diff']==0, 1, 0)
df2["miss_binary"].sum()/len(df2)*100

74.23664122137404

In [347]:
df2

,human_steps,comp_steps,comp_hits,human_miss,step_diff,miss_diff,step_perc_error,step_perc_accuracy,miss_perc_error,miss_perc_accuracy,step_binary,miss_binary
0,5.0,3.0,1.0,2,-2.0,0.0,40.000000,60.000000,0.0,100.0,0,1
1,3.0,4.0,4.0,0,1.0,0.0,33.333333,66.666667,NaN,NaN,0,1
3,4.0,1.0,1.0,0,-3.0,0.0,75.000000,25.000000,NaN,NaN,0,1
4,4.0,1.0,1.0,1,-3.0,-1.0,75.000000,25.000000,100.0,0.0,0,0
5,3.0,4.0,4.0,0,1.0,0.0,33.333333,66.666667,NaN,NaN,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
555,4.0,6.0,5.0,1,2.0,0.0,50.000000,50.000000,0.0,100.0,0,1
556,6.0,6.0,6.0,0,0.0,0.0,0.000000,100.000000,NaN,NaN,1,1
557,3.0,4.0,4.0,0,1.0,0.0,33.333333,66.666667,NaN,NaN,0,1
558,4.0,7.0,7.0,0,3.0,0.0,75.000000,25.000000,NaN,NaN,0,1
559,5.0,4.0,3.0,1,-1.0,0.0,20.000000,80.000000,0.0,100.0,0,1